<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    {{>header}}
    <p>{{screamIt message.welcome}}, <br> {{message.welcome}}</p>

    {{>footer}}
  </body>
</html>
